@model RealEstate.Models.GalleryVM


@using (Html.BeginForm("Edit", "Galleries", Model, FormMethod.Post, new { encType = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Gallery</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RowID)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.Kendo().TextBoxFor(m => m.Title).HtmlAttributes(new { @class = "input-text", @placeholder = "Enter Title", @style = "width:100%" })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextAreaFor(model => model.Description, new { @style = "width:100%;" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("ImagePath", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.Kendo().Upload().Name("files")
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.Kendo().CheckBoxFor(m => m.Status)
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <img src="~/Images/@("gal"+Model.RowID+Model.ImagePath)" class="img-responsive" />
            </div>
        </div>
        
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
